@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  line-height: 0;
  background: #060606;
  color: #eeeeee;
  font-family: 'IM Fell Great Primer SC', serif;
}

#logo {
  position: fixed;
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo > img {
  width: 90vw;
  max-width: 600px;
}

body::before {
  display: block;
  position: fixed;
  content: '';
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: #111111;
}

main {
  max-width: 680px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100vh;
  padding: 60px;
  font-size: 28px;
  overflow: hidden;
}

input, select, textarea, button {
  padding: 10px 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > :first-child {
  margin: 0 0 5px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row
  }
  .container > :first-child {
    margin: 0 5px 0 0;
  }
}
