#input {
  display: flex;
  flex-direction: column;
}

#input > * {
  margin-bottom: 20px;
}

#comment {
  min-height: 100px;
  resize: vertical;
}

#counter {
  font-size: .5em;
  margin-bottom: 0px;
  text-align: end;
}
