<section>
  Ophira has a request to make of you.<br>
  <br>
  Would you give me your rage?<br>
  <br>
  Rage is heavy, and painful to carry by ourselves. It is a stone in your heart.<br>
  <br>
  I can feel your suffering through the earth. I will carry that for you, for a while, if you will allow me.<br>
  <br>
  Would you tell me the words you wish you could say to them who hurt you? Would you give me that gift?<br>
  <br>
  Through me, your words can be said. Nobody will know they came from you.<br>
  <br>
  Your suffering and your survival contain beauty, even in the pain. You are not alone. You are among fighters and survivors. I will make our collective survival glorious.<br>
  <br>
  We are still here. We are yet living. I will scream our defiance.<br>
  <br>
</section>
<section>
  <form id="input" action="/submit" method="POST">
    <div id="counter"><span id="count">0</span> / 140</div>
    <textarea 
      required="true"
      placeholder="Give to Ophira" 
      name="comment"
      id="comment" 
      maxlength="140"
      method="POST"
    ></textarea>
    <div id="buttons" class="container">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
