<!doctype html>
<html>
  <head>
    <title>Ophira's Rage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="favicon.ico">
    {{#if style}}
      <link rel="stylesheet" href="{{style}}">
    {{/if}}
    {{#if script}}
      <script type='text/javascript' src="{{script}}" defer></script>
    {{/if}}
  </head>
  <body>
    <div id="logo">
      <img src="ophira.svg" />
    </div>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
